# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0063.severity = none
dotnet_diagnostic.IDE0066.severity = none
dotnet_diagnostic.IDE0090.severity = none
